* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    height: 100vh;

}

/* qrcod component => Outfit 400-700 */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/*Numbers of calculator component*/
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@700&display=swap');